
<%- include('partials/header') %>
<% var nami= Name;%>
    <div class="outer">
      <form class="secret" action="/todo/<%=Name%>" method="post">
        <div class="most">
          <div class="">
            <textarea type="text" cols="50" rows="5" placeholder="Type here to add...." name="userName" value="" ></textarea>
          </div>
          <div class="">
            <button class="btn" type="submit" name="button">+</button>
          </div>
        </div>

      </form>
      <form class="" action="/todod/<%=Name%>" method="post">
         <button class="btn" type="submit" onclick="delete()" name="button">Delete All</button>
      </form>
      <form class="" action="/logout" method="get">
         <button class="btn" type="submit" onclick="pass();" name="logout">Logout</button>
      </form>
    </div>






    <!-- <form class="secret" action="/logout" method="post">
      <div class="log">
        <button class="btn" type="submit" name="button">Logout</button>
      </div>
    </form> -->
    <div class="top-list">
      <div class="list">

          <% Details.forEach(item=>{%>
            <div class="low">
              <div class="inner-low">
                <p><%=item%></p>
                <!-- <form class="" action="/to" method="post">
                   <button class="btn1" type="submit" name="button">-</button>
                </form> -->

              </div>


            </div>
          <%})%>


      </div>
    </div>
    <!-- <script type="text/javascript">
      function pass(){
        console.log("iam here");
        window.location='/logout';
      }
      function delete(){
        console.log("delete here");
        window.location='/todod';
      }
    </script> -->


<%- include('partials/footer') %>


<!-- <div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Jack Bauer is my hero.</p>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div> -->
